doctype html
head
    meta(charset='utf-8')
    title The Hub
    link(rel='stylesheet' type='text/css' href='/style.css')
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script
        include nav2.js
#menu
    nav
        img#profilePic(src='https://www.personality-insights.com/wp-content/uploads/2017/12/default-profile-pic-e1513291410505.jpg')
        li#link1
            span#dash1 -
            a(href='/explore/' + user.username) Search - 
                i(class="fa fa-search" aria-hidden="true")
        li#link1
            span#dash1 -
            a(href='/user/' + user.username)  Profile - 
                i(class="fa fa-user" aria-hidden="true")
        li#link1
            span#dash1 -
            a(href='/feed/'+ user.username) Post - 
                i(class="fa fa-pencil-square-o" aria-hidden="true")
        li#link1
            span#dash1 -
            a(href='/editUserView/' + user.username) Settings - 
                i(class="fa fa-cog" aria-hidden="true")
        li#link1
            span#dash1 -
            a(href='/logout/') Logout - 
                i(class="fa fa-sign-out" aria-hidden="true")
#opener(onmouseover='openMenu()')
#full-overlay(onmouseover='closeMenu()')
// fixed logo header
#fixed-header
    img#logo(src='https://th.bing.com/th/id/R.b8a297af7bc9f50434b64ac1241012f4?rik=1zp6m%2brTeRMSaw&riu=http%3a%2f%2fstatic1.squarespace.com%2fstatic%2f59834fee6f4ca39f8397a21e%2ft%2f59b95550b1ffb69891e9ab5d%2f1505318229028%2fThe%2bHub-01.png%3fformat%3d1500w&ehk=X3H6fLY4E6%2bQeMtExFWNKo5PBSer99ci4FRt8r%2f4Dg4%3d&risl=&pid=ImgRaw&r=0')
    p#welcome-text Welcome, #{user.username}
    img#profilePic0(src='https://www.personality-insights.com/wp-content/uploads/2017/12/default-profile-pic-e1513291410505.jpg')
section 
    block content 

