extends layout 
block content
    if(weather==null)
    #content(style='top:10vw;height:75vw')
        #margin-box(style='height:60vw')
            h1(style="text-align:center; margin-top:2.5vw") Get 5 Day Weather Forecast
            #addForm(style='position:relative;top:2vw;left:18vw; overflow-y: hidden;')
            form(action="/getWeather" method="post")
                h1 Input City, State, Country
                input(type='text' name="City" value="Example: Salt Lake City,UT,US")
                <br>
                input(id="submit" type="submit" value="Submit") 
        footer
            h1 The Hub - Powered by the plug
    if(weather!=null)
        #info-txt
            h2(class='h2-w') Next 5 Day Forecast
            h1(class='h1-w') Location:
        #content2
            #weatherBox
                h3 Next 5 Day Weather Forecast
                #box-1.box-design
                    #day0dayandtime
                    #day0icon
                    #day0description
                    #day0temp
                br
                #box-2.box-design
                    #day8dayandtime
                    #day8icon
                    #day8description
                    #day8temp
                br
                #box-3.box-design
                    #day16dayandtime
                    #day16icon
                    #day16description
                    #day16temp
                br
                #box-4.box-design
                    #day24dayandtime
                    #day24icon
                    #day24description
                    #day24temp
                br
                #box-5.box-design
                    #day32dayandtime
                    #day32icon
                    #day32description
                    #day32temp
        footer
            h1 The Hub - Powered by the plug

